---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@webmarkets/wm-modal@latest/dist/wm-modal.bundled.js"></script>
    <script type="module" src="./index.js"></script>
    <wm-modal autopopup popupdelay="1000">
        <div id="modal__container">
            <h1>Testing Modal</h1>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere non perferendis eius tenetur magnam?
                Nihil consequatur rem voluptatem numquam, obcaecati ut commodi, cum iure aspernatur et, qui placeat
                laudantium aliquid!
            </p>
        </div>
    </wm-modal>
</BaseLayout>

<style>
    body[no-scroll] {
        overflow: hidden;
    }

    #modal__container {
        width: 60%;
        height: 50%;
        display: flex;
        z-index: 9999;
        position: absolute;
        top: 50%;
        left: 50%;
        min-height: 100px;
        padding: 15px;
        border-radius: 10px;
        transform: translate(-50%, -50%);
        background: #fff;
        overflow: auto;
        flex-direction: column;
    }

    @media only screen and (max-width: 905px) {
        #modal__container {
            width: 80%;
            height: 60%;
        }
    }
</style>