---
import Header from "../components/Header.astro"
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico">
    <title>webmarkets Web Component Demos</title>
    <link rel="stylesheet" href="/styles.css">
   <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
    rel="preload"
    href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
        rel="stylesheet"
        type="text/css">
    </noscript>
    <link
        rel="preload"
        href="https://fonts.googleapis.com/icon?family=Material+Icons"
        as="style"
        onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
    <link
        href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet"
        type="text/css">
    </noscript>
</head>
<body>
    <Header></Header>
    <!-- <demo-view></demo-view> -->
    <main>
    <slot></slot>
    
    </main>
</body>
</html>

<style>
main {
    margin-top: 64px;
}
</style>