<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }} | {{ metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="icon" href="/assets/images/logos/favicon.ico">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
    rel="preload"
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
      <link
        href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet"
        type="text/css">
    </noscript>
    <link
    rel="preload"
    href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
      <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
        rel="stylesheet"
        type="text/css">
    </noscript>
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <script type="module" src="/assets/components/wm-mobile-menu.bundled.js"></script>
  </head>
  <body>

    {% include "header.njk" %}

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    {% include "footer.njk" %}

    <script src="/assets/scripts/main.js"></script>
    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>