<footer>
    <div class="footer-bottom__container">
        &copy; {{helpers.currentYear()}} webmarkets All Rights
        Reserved.
        <a
          href="https://webmarketsonline.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          Web Design by webmarkets
        </a>
    </div>
</footer>