.extra-cool-card {
  background-color: green;
  border-radius: 1rem;
}

::slotted(.extra-cool-card) {
  background-color: green;
  border-radius: 10px;
}

body {
  background-color: #fafafafa;
}

wm-carousel {
  --btn-color: #333;
  --background-color: transparent;
}