
body[no-scroll] {
  overflow: hidden;
}

html {
  background-color: #ffffff;
}

body, main {
  -webkit-font-smoothing: antialiased;
  background: var(--theme-light-background);
  color: var(--theme-light-text-on-background);
  margin: 0 auto;
  max-width: 1920px;
}

html,
body {
  height: 100%;
}

a {
  color: inherit;
}

a.link--underlined {
  text-decoration: underline;
}

.color--white {
  color: var(--color-white);
}

.color--primary {
  color: var(--color-primary);
}

.color--accent {
  color: var(--color-accent);
}

button {
  cursor: pointer;
}

.fullscreen-modal--open {
    overflow: hidden;
}

.btn-outlined {
    padding: 0.5rem 1rem;
    display: inline-block;
    background-color: transparent;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: 900;
    transition: 150ms ease-in;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    &:hover{
      background-color: var(--color-primary);
      color: var(--color-white);
    }
  }

  .btn-filled {
    padding: 0.5rem 1rem;
    display: inline-block;
    background-color: var(--color-primary);
    color: var(--color-white);
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: 900;
    transition: 150ms ease-in;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    &:hover{
     opacity: 0.9;
    }
  }

  .btn--large {
    padding: 1rem 2rem;
    font-size: 1.25rem;
  }

  
  .btn--constrainted {
    width: fit-content;
  }

.btn-outlined--white {
  border: 2px solid var(--color-white);
  color: var(--color-white);
  &:hover{
    background-color: var(--color-white);
    color: var(--color-primary);
  }
}

.btn-filled--white {
  background-color: var(--color-white);
  color: var(--color-black);
  &:hover{
    background-color: var(--color-white);
    color: var(--color-black);
    opacity: 0.8;
  }
}


.btn-plain {
  display: inline-block;
  width: fit-content;
  padding: 0.5rem 0.75rem;
  background-color: #D3D3D3;
  border: none;
  border-radius: 0.5rem;
  color: #606060;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1rem;
  &:hover{
    text-decoration: underline;
  }
}

.text-align-center {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .responsive__img-m {
  width: 100%;
}
.btn--mobile-small-text {
    font-size: 1rem;
  }
}

.responsive__img {
  width: 100%;
}

.resp-video__container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
  .resp-video__container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }