:root {
  --font-family-sans: "Heebo", BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica,
    Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  --font-family-sans2: "Quicksand", -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

/* buttons, header, and nav Oswald */

body {
  line-height: 1.5;
  font-family: var(--font-family-sans2);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-family-sans);
  line-height: 1.1;
  font-weight: 400;
  letter-spacing: -1px;
}

.btn-outlined {
  font-family: var(--font-family-sans);
  font-weight: 600;
}
.txt-upper {
  text-transform: uppercase;
}
.center {
  text-align: center;
}

h1,
h2,
h3,
h4,
p,
li {
  font-size: clamp(
    var(--fluid-type-min, 1rem),
    calc(1rem + var(--fluid-type-target, 3vw)),
    var(--fluid-type-max, 1.3rem)
  );
}

h1 {
  --fluid-type-min: 2.5rem;
  --fluid-type-max: 6rem;
  --fluid-type-target: 5vw;
}

h2 {
  --fluid-type-min: 2.25rem;
  --fluid-type-max: 5rem;
}

h3 {
  --fluid-type-min: 1.5rem;
  --fluid-type-max: 2.5rem;
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
}

h4 {
  --fluid-type-min: 1rem;
  --fluid-type-max: 2rem;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
