.extra-cool-card {
  background-color: green;
  border-radius: 1rem;
}

::slotted(.extra-cool-card) {
  background-color: green;
  border-radius: 10px;
}

body {
  background-color: #552399;
}

wm-carousel {
  --btn-color: #39b44a;
  --background-color: blue;
}