<header>
    <a href="/">webmarkets Web Components</a>
</header>

<style>
    header {
    background-color: #0255ff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-size: 1.25rem;
    line-height: 2rem;
    letter-spacing: 0.02em;
    color: white;
    min-height: 64px;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
</style>